@charset "UTF-8";
/*
    em HTML é id = em CSS -> #
    em HTM é class = em CSS é -> .
*/
body {
    background-color: #E67C43;
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    background-color: grey;
    color: white;
}


.basico {
    color: #402212;
    font-weight: bold;
}

.intermediario {
    color: #402212;
    font-weight: bold;
}

.avancado {
    color: #402212;
    font-weight: bold;
}

.destaque {
    background-color: #a8633e;
}