@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=El+Messiri:wght@700&display=swap');

body {
    font-size: 16pt;
    margin: auto;
    background-color: #5D5E60;
}

p {
    text-align: justify;
    text-indent: 50px;
    padding: 10px;
}

h1 {
    font-family: 'El Messiri', sans-serif;
    font-size: 3em;
    padding: 10px;
    color: #ebe2cf;
    border-radius: 20%;
    text-align: center;
}

h2 {
    font-size: 2em;
    padding: 10px;
}

div {
    background-color: #F5E0B7;
    padding: 3px;
    padding-left: 10px;
    box-shadow: 2px 2px 2px #000000;
    border-radius: 50px;
}

img {
    position: absolute;
    right: 1100px;
    height: 100px;
    width: 100px;
}

iframe {
    border: 10px 10px black;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 60%;
    left: 100px;

}