@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');

body {
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
    background-color: #14488C;
    text-indent: 50px;
}

main {
    background-color: #0d3161;
    padding: 100px;
    border-radius: 300px;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    color: #D91604;
    text-shadow: 2px 2px 2px #9c0f029f;
    margin: auto;
    text-align: center;
    
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font: 2em;
    color: #D91604;
    text-align: center;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1em;
    color: #D91604;
}

div {
    display: block;
    background-color: #F2CE16;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid;
    box-shadow: 2px 2px 2px rgba(122, 122, 122, 0.897);
}

/* Config. Fotos Site */

img#marvel {
    display: block;
    right: 100px;
    top: -10px;
    border: 4px 2px 2px solid;
    width: 50px;
    height: 50px;
}

img {
    border: 2px solid #cfcdcb;
    border-radius: 5px;
    right: 10px;
    box-shadow: 2px 2px 45px rgb(182, 8, 8);
    background-position: left;
}